<div class="uk-background-secondary">
    <div class="uk-position-center uk-overlay uk-overlay-default">
        <h2 class="uk-text-center">{{ title }}</h2>
        <button uk-toggle="target: #open-todo-form" type="button" class="uk-button uk-button-secondary uk-width-1-1">
            Adicionar
            <span uk-icon="icon: plus"></span>
        </button>
        <p *ngIf="todos.length === 0">Não possui nenhuma tarefa</p>
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="uk-text-center">
                <tr *ngFor="let todo of todos">
                    <td>
                        #{{ todo.Id }}
                    </td>
                    <td>
                        {{ todo.Title }}
                    </td>
                    <td *ngIf="todo.Done">
                        <span uk-icon="icon: check"></span>
                    </td>
                    <td *ngIf="!todo.Done">
                        <span uk-icon="icon: close"></span>
                    </td>
                    <td>
                        <button (click)="markAsDone(todo)" *ngIf="!todo.Done" class="uk-button uk-button-primary uk-button-small">
                            <span uk-icon="icon: check"></span>
                        </button>
                        <button (click)="maskAsUndone(todo)" *ngIf="todo.Done" class="uk-button uk-button-secondary uk-button-small">
                            <span uk-icon="icon: history"></span>
                        </button>
                        <button (click)="remove(todo)" class="uk-button uk-button-danger uk-button-small">
                            <span uk-icon="icon: close"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="open-todo-form" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <form [formGroup]="form">
            <div class="text-center uk-grid-small" uk-grid>
                <div class="uk-width-auto">
                    <label for="">Nova tarefa:</label>
                </div>
                <div class="uk-width-expand">
                    <input type="text" formControlName="title" placeholder="Digite o titulo da tarefa" class="uk-input uk-form-width-large">
                    <p class="uk-text-danger" *ngIf="form.invalid && !form.controls.title.pristine">
                        O titulo da tarefa deve conter de 1 á 100 carácteres
                    </p>
                </div>
                <div class="uk-width-auto">
                    <button [disabled]="form.controls.title.invalid" (click)="add()" class="uk-button uk-button-secondary">
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
